{% assign people = "alice, bob, carol" | Split: ", " -%}

<ul>
{%- for person in people %}
  <li>
    <a href="{{person | Prepend: "http://example.com/"}}">
      {{ person | Capitalize }}
    </a>
  </li>
{%- endfor%}
</ul>
